<% content_for :heading do %>
  <%= link_to 'Reload', items_path, "data-icon" => "forward" %>
  <h1>在庫一覧</h1>
  <%= link_to 'New', new_item_path, "data-icon" => "plus" %>
<% end %>

<ul data-role="listview" data-filter="true">
  <% @items.each do |item| %>
    <li>
      <%= link_to edit_item_path(item) do %>
        <%= item.name %>
        <small>(<%= item.tags.map(&:name).join(', ') %>)</small>
        <span class="ui-li-count">
          <%= item.quantity %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
<!--
<div id="tag_cloud">
  <% tag_cloud Item.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>  
  <% end %>
</div>

<div id="items">
</div>
<p><%= link_to 'New Item', new_item_path %></p>
-->
