<% content_for :heading do %>
  <%= link_to 'Reload', items_path, "data-icon" => "forward" %>
  <h1>在庫一覧</h1>
  <%= link_to 'New', new_item_path, "data-icon" => "plus" %>
<% end %>

<ul data-role="listview" data-filter="true">
  <% @items.each do |item| %>
    <%= content_tag(:li, data: { theme: item.none? ? "e" : "c" }) do %>
      <%= link_to edit_item_path(item) do %>
        <%= item.name %>
        <small>(<%= item.tags.map(&:name).join(', ') %>)</small>
        <span class="ui-li-count">
          <%= item.quantity %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</ul>
