<% content_for :heading do %>
  <%= link_to 'Back', :back, "data-icon" => "back" %>
  <h1><%= @item.name %></h1>
  <%= link_to 'Delete', @item, :method => "delete", "data-icon" => "delete" %>
<% end %>

<h2><%= @item.name %></h2>

<% @item.tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag.name) %>  
<% end %>


<%= @item.quantity %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
