<!DOCTYPE html> 
<html> 
<head> 
  <title>Stock</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= csrf_meta_tags %>
</head> 

<body>

  <div data-role="page">

    <div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
      <ul data-role="listview" data-theme="a" class="nav-search">
        <li data-icon="delete"><a href="#" data-rel="close">メニューを閉じる</a></li>
        <li><%= link_to "在庫一覧", items_path, {data: {ajax: false}}  %></li>
        <li><%= link_to "タグ一覧", tags_path, {data: {ajax: false}} %></li>
        <li><%= link_to "ログアウト", logout_path, {data: {ajax: false}} %></li>
      </ul>
    </div><!-- /panel -->

    <div data-role="header" data-position="fixed">
      <%= yield :heading %>
    </div>

    <%= flash_notifications %>

    <div data-role="content">
      <%= yield %>
    </div>


    <div data-role="navbar" data-position="fixed">
      <ul>
        <li>
          <%= link_to "在庫", items_path %>
        </li>
        <li>
          <%= link_to "タグ", tags_path %>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>


